/* Geral */

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    box-sizing: border-box;
}

body {
background-color: #ffffff;
}

header h1 {
    font-size: 30px;
}

button {
    background-color: #EAF6F6;
    color: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: .3rem 0.6rem; 
    cursor: pointer;
    display: flex;
    justify-content: center;    
    align-items: center;
    transition: 0.4s;
    width: 40px;
    height: 40px;
}

button:hover {
    background-color: #FF0063;
    color: #EAF6F6;
    font-style: bold;
    border-radius: 26px;
}

button:hover > i {
    color: #EAF6F6;
}

button i {
    color: #000000;
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
    width: 59%;
    height: 45px;
}

.hide {
    display: none;
}

/* header */

.todo-container {
    max-width: 80%;
    margin: 5rem auto 0;
    background-color: #66BFBF;
    padding: 1.5rem;
    border-radius: 26px;
    border: 3px solid #000000;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 0px solid #EAF6F6;
}

/* form */

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 0px solid #EAF6F6;
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 4px;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #EAF6F6;
    border-bottom: 4px solid   #FFFFFF;
    border-radius: 55px;
    margin-bottom: 7px;
    transition: .3s;
}

.todo-input {
    width: 100%;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.2rem;
}

.done {
    background-color: #FF0063;
    text-decoration: line-through;
    font-style: italic;
    border-radius: 55px;
}

.done h3 {
    color: #FFFFFF;
    text-decoration: line-through;
    font-style: italic;
}